<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @blogsapp, local: true, url: blogsapps_path) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>タイトル:<%= @blogsapp.title %></p>
  <p>本文:<%= @blogsapp.content %></p>
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name:'back' %>
<% end %>
